
                <html>
                    <head><title>HTML Pandas Dataframe with CSS</title></head>
                    <link rel="stylesheet" type="text/css" href="../static/df_style.css"/> 
                    <body>
                    <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th>Joueur</th>
      <th>Champion</th>
      <th>Role</th>
      <th>VD</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Niveau</th>
      <th>CS</th>
      <th>Gold total</th>
      <th>Dégats total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ja koxik</td>
      <td>Kindred</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>5</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>78</td>
      <td>6486</td>
      <td>49287</td>
    </tr>
    <tr>
      <td>ˇ sao</td>
      <td>Aatrox</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>9</td>
      <td>69</td>
      <td>3654</td>
      <td>32972</td>
    </tr>
    <tr>
      <td>PARUS 2</td>
      <td>Rell</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
      <td>20</td>
      <td>3915</td>
      <td>15668</td>
    </tr>
    <tr>
      <td>msfvetheo1</td>
      <td>Ezreal</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>0</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>82</td>
      <td>3916</td>
      <td>28427</td>
    </tr>
    <tr>
      <td>357159</td>
      <td>Diana</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>1</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>18</td>
      <td>6106</td>
      <td>86643</td>
    </tr>
    <tr>
      <td>weed wizard1</td>
      <td>Vayne</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>4</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>122</td>
      <td>6994</td>
      <td>45899</td>
    </tr>
    <tr>
      <td>TwTv Wufo</td>
      <td>Kled</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>11</td>
      <td>109</td>
      <td>6911</td>
      <td>59217</td>
    </tr>
    <tr>
      <td>FΙGHT FΙGHT</td>
      <td>Nidalee</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>9</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
      <td>6</td>
      <td>7391</td>
      <td>85274</td>
    </tr>
    <tr>
      <td>Hwang Shi Mok</td>
      <td>Galio</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>4</td>
      <td>1</td>
      <td>7</td>
      <td>8</td>
      <td>23</td>
      <td>5047</td>
      <td>16212</td>
    </tr>
    <tr>
      <td>AST MagiFelix</td>
      <td>Renekton</td>
      <td>SUPPORT</td>
      <td>ABANDON</td>
      <td>7</td>
      <td>1</td>
      <td>5</td>
      <td>11</td>
      <td>119</td>
      <td>8746</td>
      <td>68368</td>
    </tr>
  </tbody>
</table>
                    </body>
                </html>
                